/* Custom css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Header css */
.first {
    background-color: #2D25A0;
    display: flex;
    height: 100vh;
}

.half {
    width: 50%;
}

.half h1 {
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    padding-top: 150px;
    padding-left: 156px;
    padding-bottom: -2px;
    margin-bottom: 15px;
}

.half a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 156px;
    border: none;
    cursor: pointer;
    padding: 10px 0 10px 24px;
    background: #E02C6D;
}

.fa-arrow-right.arrow {
    padding: 10px;
    padding: 10px 29px 10px 10px;
}

.half img {
    width: 556.01px;
    height: 438px;
    height: 438px;
    padding-top: 153px;
    padding-right: 141px;
    padding-bottom: 86px;
}

.first .half img:hover {
    transform: translateX(40px);
    transition: transform 0.7s;
}

/* Players css */

.player-r1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 27px;
}

.player-r2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 27px;
}

.player-r3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
    margin-top: 27px;
}

.player {
    width: 300px;
    height: 420px;
    /* margin-top: 27px; */
    /* margin-left: 30px; */
    /* margin-bottom: 27px; */
    border: 18px solid white;
    box-shadow: 0px 0px 40px #00000026;
}

.player img {
    width: 300px;
    height: 256px;
    object-fit: cover;
    margin-bottom: 6px;

}

.player-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin: 8px 0px;
}

.player-info {
    font-size: 16px;
    line-height: 26px;
    margin-top: 0px;
}

/* Coaches */
.coaches {
    color: #999;
    background: #ececec;
    display: grid;
    justify-content: center;
}

.coaches h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 50px;

}

.team-box {
    display: flex;
    margin-bottom: 50px;
}

.box {
    width: 230px;
    margin: 20px;
    padding: 30px 10px;
    background: #ececec;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 15px #c7c4c4, -10px -10px 15px #fff;

}

.box img {
    width: 80px;
    border-radius: 100%;
    padding: 5px;
    margin-bottom: -10px;
    border: 2px solid #dee2e6;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
}

.box:hover img {
    transform: scale(1.2);
}

.box h2 {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 0;
}

.box span {
    font-size: 14px;
    display: block;
    font-style: italic;
    margin-bottom: 25px;
}

.box ul {
    padding: 0;
}

.box ul li {
    display: inline-block;
    list-style: none;
}

.box ul li a .fa {
    color: #999;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #999;
    border-radius: 50%;
    margin: 5px;
    transition: .3s;
}

.box ul li a .fa-facebook:hover {
    color: #1877F2;
}

.box ul li a .fa-twitter:hover {
    color: #1DA1F2;
}

.box ul li a .fa-linkedin:hover {
    color: #0A66C2;
}



/* Footer css */
.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 483.87px;
    height: 110px;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    height: 15%;
    margin-left: 16px;
}

.icon {
    width: 70%;
    height: 70%;
}

.third h3 {
    height: 31px;
    width: 238px;
    font-weight: normal;
    display: flex;
    font-size: 18px;

}