/* Custom css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Header css */
.first {
    background-color: #2D25A0;
    display: flex;
    height: 100vh;
}

.half {
    flex-basis: 50%;
}

.half h1 {
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    padding-top: 150px;
    padding-left: 156px;
    padding-bottom: -2px;
    margin-bottom: 15px;
}

.half a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 156px;
    border: none;
    cursor: pointer;
    padding: 10px 0 10px 24px;
    background: #E02C6D;
}

.fa-arrow-right.arrow {
    padding: 10px;
    padding: 10px 29px 10px 10px;
}

.half img {
    width: 556.01px;
    height: 438px;
    height: 438px;
    padding-top: 153px;
    padding-right: 141px;
    padding-bottom: 86px;
}

.first .half img:hover {
    transform: translateX(40px);
    transition: transform 0.7s;
}

/* Players css */

.player-r1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 27px;
}

.player-r2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 27px;
}

.player-r3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
    margin-top: 27px;
}

.player {
    width: 300px;
    height: 420px;
    /* margin-top: 27px; */
    /* margin-left: 30px; */
    /* margin-bottom: 27px; */
    border: 18px solid white;
    box-shadow: 0px 0px 40px #00000026;
}

.player img {
    width: 300px;
    height: 256px;
    object-fit: cover;
    margin-bottom: 6px;

}

.player-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    margin: 8px 0px;
}

.player-info {
    font-size: 16px;
    line-height: 26px;
    margin-top: 0px;
}

/* Coaches */
.coaches {
    color: #999;
    background: #ececec;
    display: grid;
    justify-content: center;
}

.coaches h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 50px;

}

.team-box {
    display: flex;
    margin-bottom: 50px;
}

.box {
    width: 230px;
    margin: 20px;
    padding: 30px 10px;
    background: #ececec;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 15px #c7c4c4, -10px -10px 15px #fff;

}

.box img {
    width: 80px;
    border-radius: 100%;
    padding: 5px;
    margin-bottom: -10px;
    border: 2px solid #dee2e6;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
}

.box:hover img {
    transform: scale(1.2);
}

.box h2 {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 0;
}

.box span {
    font-size: 14px;
    display: block;
    font-style: italic;
    margin-bottom: 25px;
}

.box ul {
    padding: 0;
}

.box ul li {
    display: inline-block;
    list-style: none;
}

.box ul li a .fa {
    color: #999;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #999;
    border-radius: 50%;
    margin: 5px;
    transition: .3s;
}

.box ul li a .fa-facebook:hover {
    color: #1877F2;
}

.box ul li a .fa-twitter:hover {
    color: #1DA1F2;
}

.box ul li a .fa-linkedin:hover {
    color: #0A66C2;
}



/* Footer css */
.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logo img {
    width: 483.87px;
    height: 110px;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    height: 15%;
    margin-left: 16px;
}

.social-icons .icon {
    min-width: 35px;
    height: 35px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.third h3 {
    height: 31px;
    width: 238px;
    font-weight: normal;
    display: flex;
    font-size: 18px;

}

/* Contact us */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(51, 43, 43, 0.7), rgba(49, 43, 43, 0.7)), url(/images2/pexels-burst-374870.jpg);
    background-position: center;
    background-size: cover;
}

.content {
    text-align: center;
    max-width: 800px;

}

.content h2 {
    font-weight: 500;
    color: #fff;

}

.content p {
    font-weight: 300;
    color: #fff;
}

.container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contackInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    line-height: 1px;
    font-weight: 300px;
}

.text h3 {
    font-weight: 500px;
    color: #00bcd4;
}

.text p {
    font-size: 12px;
}

.contactForm {
    width: 30%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputBox input,
textarea {
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    font-size: 16px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none
}

input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    cursor: pointer;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
}


/* Media Query */
/* Device Test Pixel2 */
@media only screen and (max-width:688px) {
    .first {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .half h1 {
        font-size: 40px;
        margin-left: -136px;
        padding-top: 65px;
    }

    .half a {
        margin-left: 21px;
    }

    .half img {
        width: 85%;
        height: 85%;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0;
        padding-right: 0;
        padding-top: 80px;
    }

    .player-r1 {
        flex-direction: column;
    }

    .player-r2 {
        flex-direction: column;
    }

    .player-r3 {
        flex-direction: column;
    }

    .team-box {
        flex-direction: column;
    }

    .third {
        width: 100%;
        margin-bottom: 240px;
    }

    .third .footer-logos .logo img {
        width: 70%;
        height: 10%;
        margin-left: 40px;
        margin-top: 43px;
    }

    .social-icons {
        width: 50%;
    }

    .contactForm {
        width: 100%;
    }

}